* {
 margin: 0;
 padding: 0;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 background:  rgba(4, 105, 253, 0.87);
 text-align: center;
 font-family: 'Chilanka', cursive;
}
h1 {
 color: white;
 text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.74);
 margin-top: 15px;
} 
#main {
 display: grid;
 margin: auto;
 max-width: 30%;
 justify-self: auto;
 gap: 1rem; 
}
.input, .input-1 {
 color: rgba(3, 0, 0, 0.68);
 height: 25px;
 padding: .5rem 0;
 font-size: 1.5em;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
 outline: none;
 transition: all 1s ease;
 cursor: pointer;
 border: black;
 box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.74);
}
.input {
 background:  rgba(247, 203, 0, 0.87);
}
.input-1 {
 background: rgba(254, 161, 0, 0.87);
}
.input-1:hover, .input:hover {
 background: rgba(4, 105, 253, 0.87);

}
.header {
 padding: 1rem 0;
}
.btn {
    position: relative;
 margin-left:  auto;
 margin-bottom: 25px;
 width: 90px;
 height: 90px;
 font-size: 1rem;
 padding: 0.5rem;
 color: rgb(18, 213, 18);
 outline: none;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
 border: 2px solid black;
 border-radius: 5px;
 box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.74);
 transition: all 5s ease;
 cursor: pointer;
}
.btn:hover {
 background: url('./assets/madlib.jpeg');
 background-repeat: no-repeat; 
}
#story {
    display: block;
    margin: 25px auto;
}
.hidden {
    visibility: hidden;
}
 
@media